@model RDTH.Models.CheckoutViewModel.CheckoutAddModel

@{
    ViewData["Title"] = "CheckOut";
}

<h2 class="text-info" style="text-align:center">Checkout</h2>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" value="@Model.PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" value="@Model.Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress" class="control-label"></label>
                <input asp-for="ShippingAddress" value="@Model.ShippingAddress" class="form-control" />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                @Html.DropDownListFor(m => m.PaymentType, new List<SelectListItem>() {
                                           new SelectListItem{Text="Master/Visa",Value="Master/Visa",Selected=true},
                                           new SelectListItem{Text="Cash On Delivery",Value="Cash On Delivery"},
                                           new SelectListItem{Text="Credit Card",Value="Credit Card"}
                                           }, new { @class = "form-control" })
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardNumber" class="control-label"></label>
                <input asp-for="CreditCardNumber" class="form-control" />
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardExpiry" class="control-label"></label>
                <input asp-for="CardExpiry" class="form-control" />
                <span asp-validation-for="CardExpiry" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Cart" />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-5 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center text-warning" style="font-size:20px">Cart Details</h4>
                <h5 class="text-info" style="font-size:16px">Items       : @Model.Cart.TotalItems</h5>
                <h5 class="text-info" style="font-size:16px">SubTotal    : Rs.@Model.Cart.TotalPrice</h5>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Qty</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cart.ItemList)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td>@item.Qty</td>
                                <td>@item.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#PaymentType').change(function () {
                if ($("#PaymentType :selected").text() == "Cash On Delivery") {
                    $("#CreditCardNumber").attr("disabled", "disabled");
                    $("#CVV").attr("disabled", "disabled");
                    $("#CardExpiry").attr("disabled", "disabled");
                }
                else {
                    $("#CreditCardNumber").removeAttr("disabled");
                    $("#CVV").removeAttr("disabled");
                    $("#CardExpiry").removeAttr("disabled");
                }
            });
        });
    </script>
}