@model IEnumerable<RDTH.Data.Models.NewSetBoxRequest>
@{
    ViewData["Title"] = "CustomerSetBoxRequest";
}

<h2>Customer SetBox Request</h2>

<hr />
<div class="container" style="background-color:lightgray;padding:30px">
    <table class="table table-condensed" id="catalogIndexTable">
        <thead>
            <tr>
                <th>Card Number</th>
                <th>Customer</th>
                <th>Contact Number</th>
                <th>New SetBox</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="color:black">
                    <td>@item.Card.CardNumber</td>
                    <td>@item.Card.OwnerName</td>
                    <td>@item.Card.ContactNumber</td>
                    <td>@item.Setbox.Name</td>
                    <td>@item.Status.Name</td>
                    <td>
                        <a asp-action="Delivered" asp-route-Id="@item.Id" class="btn btn-default">
                            Delivered
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Styles {
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#catalogIndexTable').DataTable();
        });
    </script>
}

